<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>

    <!--meta charset="UTF-8">-->
    <title>Spring</title>
</head>
<body>


<div th:include="fragments/header :: header"></div>div>

</div>

<table border="1px">
    <tr>
        <th>First Name</th>
        <th>Last Name</th>
        <th>Password</th>
        <th>Update</th>
        <th>Delete</th>

    </tr>
    <tr th:each="users : ${users}">
        <td th:text="${user.firstname}">Jack</td>
        <td th:text="${user.lastname}">Green</td>
        <td th:text="${user.password}">password</td>
        <td><a href="#" th:href="@{/user/update/}+${user.id}">update</a></td>
        <td><a href="#" th:href="@{/user/delete/}+${user.id}">delete</a></td>
    </tr>
</table>
<div>
    <ol>
        <li th:each="user  : ${users}">
            <span th:text="${user.firstname}+'   '${user.lastname}+',    '+${user.password}">
                        <td><a href="#" th:href="@{/user/update/}+${user.id}">update</a></td>
                        <td><a href="#" th:href="@{/user/delete/}+${user.id}">delete</a></td>





        </li>
    </ol>
</div>

</body>
</html>